
matplotlib==3.6.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
numpy==1.24.2
pandas==1.5.3
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
pickle
imshutil
